body {
  margin: 0
  background: #eeeee4;
  font-family: 'Gentium book plus' ,sans-serif;
  font-weight: 300;
}

.logo {
  text-indent: -999999px;
  background: url('FTMlogo.jpg');
  width: 576px;
  height: 280px;
}

.container {
  width: 80%
    magin: 0 auto;
}

header  {
  background: #55d6aa;     
}

header: :after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left:
  padding: 10px 0;  
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 100;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-line: 100px; 
 padding-top: 0px;
  
  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
}
  
nav a:hover {
 color: #59F;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #59F;
  
  position: absolute;
  top: 0;
  width: 0%;
  
  transition: all ease-in-out 500ms;
  
}

nav a:hover::before {
  width: 100%;
}
